services:
  carpoolerbot:
    build: .
    restart: no
    environment:
      TZ: Europe/Rome
      DB_HOST: db
    env_file: ./.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18-alpine
    restart: on-failure
    shm_size: 128mb
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: carpoolerbot
      POSTGRES_USER: $DB_USERNAME
      POSTGRES_PASSWORD: $DB_PASSWORD
    healthcheck:
      test: [CMD, pg_isready, -U, $DB_USERNAME]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

volumes:
  db-data:
