name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --dev

      # TODO: Move to pre-commit once the official hook is released: https://github.com/astral-sh/ty/issues/269
      - name: Run typechecker
        run: uv run ty check

      - name: Run tests
        run: uv run pytest
